<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Choice of Charity Page</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="CharityPage2.css">

    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left: 0;">
                <ul class="nav navbar-nav">
                    <li><a style="padding-left:0;" href="">Home</a></li>
                    <li><a style="padding-left:0;" href="">About</a></li>
                    <li><a style="padding-left:0;" href="">Contact</a></li>
                    <li><a style="padding-left:0;" href="">Help</a></li>
                </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Your Dashboard</a></li>
                        <li><a href="">Your Transactions Overview</a></li>
                        <li class="active"><a href="">Your Charity</a></li>
                        <li><a href="">Profile</a></li>
                    </ul>
            </div>
        </div>
    </nav>

    <!-- Body Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-0"></div>
            <div id="content" class="col-lg-8">
                <h1>YOUR CHARITY</h1>
            </div>
            <div></div>
        </div>
        <div class="row">
                <div></div>
                <form class="navbar-form navbar-center" class="form-control" role="search" id="searchbar">
                        <input type="text" class="search-query" placeholder=" ">
                    </form>
        </div>
        <div class="row">
                <div></div>
                <button id="button1" class="btn btn-md"> SEARCH YOUR CHARITY </button>
        </div>
        <div class="row">
                <div class="col-md-0"></div>
                <div id="morecharities" class="col-lg-8">
                    <h4>Can't find your Charity? Find Inspiration below or add your own Charity!</h4>
                </div>
                <div class="col-md-4"></div>
        </div>
    </div>
