body {
	font-family: 'Assistant', sans-serif;
}

p {
    margin: 5%;
}

#classification {
    margin-right: 10%
}

.form-check-label {
    padding-right:20px;
    text-decoration: none;
}

.navbar {
    background: #F5F5F5;
    border-color: #F5F5F5;
}

.badTransaction {
    background-color: #FFDAB9;
}

.leftnav {
    padding-left:0;
}

#button1 {
    border-radius: 20px;
    border: 1px solid #B2987F;
    background-color: #B2987F;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

}